@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input, textarea, select, button {
    @apply outline-none focus:outline-none;
  }

  body {
    @apply bg-deepSlate-900;
    color: #94A3B8;
  }
}
